
@import "compass/css3";

.b-items-list {

}

	.b-item {
		width: 32%;
		float: left;
		margin: 3px;


	}

	.b-item_selected {
		@include box-shadow(0 0 6px rgb(0, 0, 0));
		//background-color: rgb(141, 141, 141);
	}

		.b-item__image {
			width: 163px;
			height: 163px;
			padding: 5px;

		}

		.b-item__title {
			text-align: center;
		}

			.b-item__title:first-letter {
				text-transform: uppercase;
			}

