
<!--first_name: "Екатерина"-->
<!--graduation: 2013-->
<!--has_mobile: 1-->
<!--last_name: "Мозалёва"-->
<!--online: 0-->
<!--photo: "http://cs307201.userapi.com/v307201459/2f61/yS5w5eaizQw.jpg"-->
<!--photo_big: "http://cs307201.userapi.com/v307201459/2f5e/wLdofwvjrDE.jpg"-->
<!--photo_medium: "http://cs307201.userapi.com/v307201459/2f60/cRDLW_guuBc.jpg"-->
<!--sex: 1-->
<!--timezone: 5-->
<!--uid: 32092459-->
<!--university: 712-->
<!--university_name: "ОГАУ-->
<!--↵"-->
<!--__proto__: Object-->
<!--changed: Object-->
<!--cid: "c96"-->
<!--collection: FriendsCollection-->
<!--__proto__: ctor-->



<img class="friend-item__image" src="<%= photo %>" />
<span class="friend-item__name">
	<%= first_name %> <%= last_name %>
</span>
<!--<button class="friend-item__send"><i class="icon-comment"></i>Отправить</button>-->

